$primaryColor: #4527a4;

.wp-block-b-blocks-productReviews {
	.mouse {
		position: absolute;
		height: 100%;
		width: 100%;
		z-index: 5;
	}
}

.block-editor-block-inspector  .bPlPanelBody{
	.components-panel__row{
		.components-base-control:not(.components-input-control){
			margin: 0;
		}
	}
}
.dashicon{
	font-size: 12px !important;
	width: 100% !important;
}