.wp-block-b-blocks-product-review {
	overflow: hidden;
	* {
		box-sizing: border-box;
	}

	.productReviews {
		// border: 5px solid #000;
		padding: 35px;

		.productHeader {
			position: relative;
			display: flex;
			flex-direction: column;
			gap: 20px;
			padding-bottom: 25px;

			&:after {
				content: "";
				position: absolute;
				left: 50%;
				bottom: 0;
				transform: translateX(-50%);
				width: calc(100% + 200px);
				height: 0;

			 
			}

			.headerTop {
				display: flex;
				flex-direction: column;
				gap: 20px;

				.productName {
					margin: 0;
				}
			}

			.headerMiddle {
				display: flex;
				justify-content: space-between;
				align-items: center;
				flex-wrap: wrap;

				.productPrice {
					font-size: 25px;
					font-weight: 500;
					del {
						opacity: 0.4;
						padding-right: 10px;
					}
				}
			}

			.productImgDesc {
				display: flex;
				flex-wrap: wrap;
				align-items: center;
				gap: 25px;

				p {
					margin: 0 !important;
				}

				.image {
					max-width: 50%;

					img {
						max-width: 100%;
					}
				}
			}
		}

		.productBody {
			display: grid;
			grid-template-columns: 2fr 1fr;

			flex-wrap: wrap;
			.review-left-features {
				gap: 15px;
			}

			.review-right {
				display: flex;
				flex-direction: column;
				gap: 20px;
				padding: 20px 0 20px 20px;
				// border-left: 5px solid gray;

				.considerationTitle {
					margin-bottom: 0.75em;
				}

				.reviewRightList {
					display: flex;
					flex-direction: column;
					gap: 2px;

					> div {
						display: flex;
						align-items: baseline;
						svg {
							width: 20px;
							height: 20px;
							min-width: 20px;
							min-height: 20px;
							border-radius: 4px;
							padding: 2px;
							margin-top: 3px;
							margin-right: 10px;
						}

						p {
							line-height: 1.85 !important;
							margin: 0 !important;
						}
					}
				}
			}
		}

		.review-left {
			display: flex;
			flex-direction: column;
			gap: 30px;
			padding: 20px 20px 20px 0;

			.review-left-content {
				display: grid;
				gap: 5px;
				margin: 0;

				.review-heading {
					font-size: inherit;
					font-weight: 600;
				}
				.span.review-desc {
					font-size: 80%;
					opacity: 0.7;
					color: #000;
				}
			}
		}

		.productFooter {
			display: flex;
			flex-direction: column;
			gap: 20px;
			padding-top: 25px;
			position: relative;

			&:after {
				content: "";
				position: absolute;
				top: 0;
				left: 50%;
				transform: translateX(-50%);
				width: calc(100% + 200px);
				height: 0;
				// border-bottom: 5px solid #000;
			}

			.footerMessage {
				margin: 0;
			}

			.footerButtons {
				display: flex;
				flex-wrap: wrap;
				align-items: center;
				gap: 20px;

				a {
					background-color: #ffbb38;
					color: #fff;
					padding: 7px 25px;
					cursor: pointer;
					text-align: center;
					color: #000;
					text-decoration: none;
				}
			}
		}
	}

	.ratting {
		display: flex;
		align-items: center;
		gap: 12px;

		.stars {
			display: flex;
			align-items: center;

			.star {
				display: inline-block;
				position: relative;
				width: 20px;
				height: 20px;
				overflow: hidden;

				> * {
					width: 100%;
					height: 100%;
					position: absolute;
					top: 0;
					left: 0;
				}

				svg {
					// fill: #ccd6df;
					vertical-align: initial;
				}

				.starFill {
					width: 0px;
					overflow: hidden;

					svg {
						width: 20px;
						height: 100%;
						position: absolute;
						fill: #ffbb38;
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 768px) {
	.wp-block-b-blocks-product-review {
		.productReviews {
			padding: 15px;

			.productBody {
				grid-template-columns: 1fr;

				.review-left {
					padding: 20px 0;
				}

				.review-right {
					position: relative;
					padding: 20px 0;
					border-left: none !important;

					&:before {
						content: "";
						position: absolute;
						top: 0;
						left: 50%;
						transform: translateX(-50%);
						width: calc(100% + 200px);
						height: 0;
						border-bottom: 5px solid #000;
					}
				}
			}
		}
	}
}
